{% extends "shorten_basic.html" %}


{% block content %}
<form action="" method="POST">
  {% csrf_token %}
  <label for="initial_url">Initial URL</label>
  <input type="url" id="initial_url" name="initial_url">
  <br>
  <label for="description">Description</label>
  <input type="text" id="description" name="description">
  <br>
  <label for="url_tags">Tags (separate tags by ', ')</label>
  <input type="text" id="url_tags" name="url_tags">
  <br>
  <br>
  <input type="submit" value="Register">
</form>
{% endblock %}
